JLinkLog.txt
.vscode/
SI/
*.code-workspace
*.scvd
*.IAB
*.IAD
*.IMB
*.PFI
*.PO
*.PR
*.PRI
*.PS
*.IMD
*.SearchResults
*.WK3
*.d
*.o


Objects/
Listings/
build-*/

*.asm
*.bin

*.uvguix.*

*.sublime-workspace

tools/Linux/arm-none-eabi-gcc
out
.lib
build/
buildout*.txt
